:root {
    --bgColor: #d4d4d4;
    --pageColor: #f9f9f9;
    --titleColor: #8e8e8e;
    --textColor: #aaaaaa;
    --titleBerner: #ff4343;
    --fontText: 'Open Sans', sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* utils */

h1,h2,h3 {
    margin-bottom: 1.2rem;
    font-size: 25px;
    color: var(--titleColor);
    font-weight: 700;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--textColor);
}

.bg-section {
    background: var(--pageColor);
}

strong {
    color: #7d7d7d;
    font-weight: 700;
}

p {
    text-align: justify;
}


/* GENERAL */

body {
    background: var(--bgColor);
    min-height: 100vh;
    font-family: var(--fontText);
    color: var(--textColor);
    font-size: 20px;
}

main {
    width: 50%;
    margin: 2rem auto;
}

/* SECTION BERNER*/

section {
    margin: 1.5rem;
    border-radius: 5px;
    overflow: hidden;
    line-height: 2rem;
}

.section-berner-lee {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 2.5rem;
}

.section-berner-lee h1 {
    color: var(--titleBerner);
    font-weight: 800;
    font-size: 35px;
}


.picture-berner-lee {
    border-radius: 50%;
    margin-bottom: 2rem;
}

button {
    padding: 1rem 0.5rem;
    background: var(--titleBerner);
    color: white;
    border: 1px solid red;
    border-radius: 5px;
    font-weight: 700;
    font-size: 22px;
    margin-top: 0.8rem;
    transition: 0.2s all ease-in-out;
}

button:hover {
    cursor: pointer;
    background: var(--pageColor);
    color: var(--titleBerner);
}

/* SECTION SOCIAL */

.section-social-link {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

.social-list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.social-list-item {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 1.5rem;
}

.social-list-item i {
    font-size: 35px;
}

.favorite-movies {
    padding: 2.5rem;
}

.favorite-movies h2 {
    text-align: center;
}

.favorite-movies-list {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.favorite-movies-item {
    display: flex;
    flex-flow: row nowrap;
    padding: 1.5rem 0;
}

.favorite-movies figure {
    margin-right: 2rem;
}



