@media only screen and (max-width: 1281px) {
    main {
        width: 80%;
    }
}

@media only screen and (max-width: 955px) {
    .form-movie {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .favorite-movies figure {
        margin-right: 0;
    }

    .section-berner-lee {
        padding: 1.5rem;
    }

    .favorite-movies {
        padding: 1.5rem;
    }
}

